.italic	{ font-style: italic; }
.bold { font-weight: bold; }

.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }
.capitalize { text-transform: capitalize; }

.underline { text-decoration: underline; }
.line-through	{ text-decoration: line-through; }


.h1 { font-size: 2rem; }
.h2 { font-size: 1.5rem; }
.h3 { font-size: 1.25rem; }
.h4 { font-size: 1rem; }
.h5 { font-size: .875rem; }
.h6 { font-size: .75rem; }
